*:focus {
    outline: none;
}

body {
    background-image: url(./background.svg);
    background-size: 100%;
    overflow: hidden !important;
}

.bodyy {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 35vw;
    min-width: 760px;
}

.frosted-box {
    font-weight: bold;
    padding: 5vh 5vw;
    border-radius: 10px;
    background: rgb(245, 245, 245);
    animation: 1s calc(100 * -.01s) 1 paused both opacify;
    backdrop-filter: blur(10px);
    box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05), inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

@-webkit-keyframes opacify {
    to {
        background: transparent;
    }
}

@keyframes opacify {
    to {
        background: transparent;
    }
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.neu-button {
    box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05), inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    width: 150px;
    padding: 5px 40px;
    color: #fff;
    transition: .5s;
    background: rgb(245, 245, 245);
    animation: 1s calc(100 * -.01s) 1 paused both opacify;
    backdrop-filter: blur(10px);
    box-shadow: -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12), inset 8rem 8rem 8rem rgba(0, 0, 0, 0.05), inset -8rem -8rem 8rem rgba(255, 255, 255, 0.05);
}

.button span {
    background: linear-gradient(45deg, rgba(10, 32, 27, 1) 0%, rgba(24, 80, 47, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button:hover {
    letter-spacing: 5px;
    animation: 1s calc(100 * -.01s) 1 paused both opacify, 4s ease-in-out infinite pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.input-field {
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 10vh;
    padding: 5px 10px;
    width: 30vw;
    background: rgb(245, 245, 245);
    animation: 1s calc(100 * -.01s) 1 paused both opacify;
    backdrop-filter: blur(20px);
    box-shadow: inset -0.25rem -0.25rem 0.5rem rgba(255, 255, 255, 0.07), inset 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12), inset -0.75rem -0.75rem 1.75rem rgba(255, 255, 255, 0.07), inset 0.75rem 0.75rem 1.75rem rgba(0, 0, 0, 0.12);
}

.message-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-field:focus {
    backdrop-filter: blur(20px);
}

h2 {
    font-weight: 800 !important;
    font-size: 4em !important;
    background: linear-gradient(45deg, rgba(10, 32, 27, 1) 0%, rgba(24, 80, 47, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-address {
    font-size: 24px;
    font-weight: bold;

}

.dark-gradient-text {
    background: linear-gradient(-25deg, rgba(10, 32, 27, 1) 0%, rgba(24, 80, 47, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.address-container {
    display: flex;
}